<script type="text/html" id="input">
    <div class="field input">
        <label for="<%= id %>"><%= label %></label>
        <%= element %>
    </div>
</script>

<script type="text/html" id="checkbox">
    <div class="field checkbox">
        <span>&nbsp;</span>
        <label><input type="checkbox"> <%= label %></label>
    </div>
</script>

<script type="text/html" id="list">
    <ul class="list">
        <% for (var i in list) { %>
            <li><%= list[i] %></li>
        <% } %>
    </ul>
</script>

<script type="text/html" id="grid">
    <table class="grid">
        <thead>
            <tr>
                <% for (var title in data[0]) { %>
                    <th><%= title %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (var line in data) { %>
                <tr>
                    <% for (var col in data[line]) { %>
                        <td><%= data[line][col] %></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</script>
