<script type="text/html" id="input">
    <div class="field input">
        <label for="<%= id %>"><%= label %></label>
        <%= element %>
    </div>
</script>

<script type="text/html" id="checkbox">
    <div class="field checkbox">
        <span>&nbsp;</span>
        <label><input type="checkbox"> <%= label %></label>
    </div>
</script>

<script type="text/html" id="list">
    <ul class="list">
        <% for (var i in list) { %>
            <li><%= list[i] %></li>
        <% } %>
    </ul>
</script>

<script type="text/html" id="grid">
    <table class="grid">
        <thead>
            <tr>
                <% for (var col in titles) { %>
                    <th><%= titles[col] %></th>
                <% } %>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="999999999">
                <a href="#add">Add</a>
                |
                <a href="#remove">Remove</a>
            </td></tr>
        </tfoot>
        <tbody>
            <% for (var line in rows) { %>
                <tr>
                    <% for (var col in rows[line]) { %>
                        <td><%= rows[line][col] %></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</script>
